*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* border box zorgt ervoor dat bijvoorbeeld padding bij het elemnt wordt gerekend inplaats van dat het wordt toegevoegd aan een element */
    box-sizing: border-box;
    /* border: 1px red solid; */
}

:root {
    --main-font: 'Open Sans', sans-serif;
    --encrypt-background: #9336B4;
    --font-color: #eee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: var(--main-font);
    padding: 4rem;
}

.encrypt {
    width: 40rem;
    aspect-ratio: 1/0.4;
    background: var(--encrypt-background);
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* Trekt het element schuin */
    /* transform: skewX(-8deg); */
    clip-path: polygon(0 5%, 100% 0, 85% 100%, 0% 100%);
}

.encrypt__header {
    height: 40%;
}

.encrypt__heading {
    font-weight: 600;
    font-style: italic;
    font-size: 200%;
    text-transform: uppercase;
    color: var(--font-color);
}

.encrypt__body {
    height: 60%;
    display: flex;
    align-items: flex-end;
}

.encrypt__input {}